html, body { 
    color:#222; 
    font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; 
    margin:0; 
    padding: 0; 
    text-decoration: none; 
    height: 100%;
}
img { border:0; }
ul { list-style: none outside none; margin:0; padding: 0; }
body {
    background-color:#eee;
}

body .mainmenu li{
    float:left;
    margin-left: 2.5%;
    margin-top: 2.5%;
    width: 30%; 
    border-radius:3px;
    overflow:hidden;
}

body .mainmenu li div{ 
    display:block;
    height:100px;
}
body .mainmenu li img{
    width: 100%;
    height: 100%;
}

body .mainmenu li:nth-child(8n+1) {background-color:#36A1DB}
body .mainmenu li:nth-child(8n+2) {background-color:#678ce1}
body .mainmenu li:nth-child(8n+3) {background-color:#8c67df}
body .mainmenu li:nth-child(8n+4) {background-color:#84d018}
body .mainmenu li:nth-child(8n+5) {background-color:#14c760}
body .mainmenu li:nth-child(8n+6) {background-color:#f3b613}
body .mainmenu li:nth-child(8n+7) {background-color:#ff8a4a}
body .mainmenu li:nth-child(8n+8) {background-color:#fc5366}